<header class="header">

  <div class="left">
    <a class="logo" routerLink="/">
      DecisionIQ
    </a>
  </div>

  <div class="right">

    <a routerLink="/dashboard">
      Dashboard
    </a>

    <a routerLink="/analyses">
      History
    </a>

    <a routerLink="/upload">
      Upload
    </a>

    @if (isAuthenticated()) {

      <button
        class="logout-btn"
        (click)="auth.logout()">
        Logout
      </button>

    } @else {

      <button
        class="login-btn"
        (click)="auth.login()">
        Login
      </button>

    }

  </div>

</header>